<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Eyecare</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="~/Content/fonts.googleapis.com.css">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Content/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/Scripts/toastr/toastr.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/adminlte.min.css">
    <link href="~/Content/Custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Scripts/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Scripts/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" />
    <link rel="stylesheet" href="~/Scripts/bs-stepper/css/bs-stepper.min.css" />
    <link href="~/Scripts/leaflet/leaflet.css" crossorigin="" rel="stylesheet" />
    <link href="~/Content/jasny-bootstrap.min.css" crossorigin="" rel="stylesheet" />

    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Scripts/leaflet/leaflet.js" crossorigin=""></script>
    <script src="~/Scripts/jasny-bootstrap.min.js"></script>
</head>
<body class="hold-transition layout-navbar-fixed layout-footer-fixed sidebar-collapse dark-mode">
    <div class="wrapper">
        <!-- Preloader -->
        @Html.Partial("~/Views/Shared/Menu/_Logo.cshtml")
        <!-- Navbar -->
        @Html.Partial("~/Views/Shared/Menu/_Navbar.cshtml")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @Html.Partial("~/Views/Shared/Menu/_MainSidebar.cshtml")
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @Html.Partial("~/Views/Shared/Menu/_BreadCrumb.cshtml")
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div><!--/. container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        @Html.Partial("~/Views/Shared/Menu/_Footer.cshtml")
    </div>
    <!-- ./wrapper -->

    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <script src="~/Scripts/toastr/toastr.min.js"></script>
    <script src="~/Scripts/bootstrap-switch/js/bootstrap-switch.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Scripts/overlayScrollbars/jquery.overlayScrollbars.min.js"></script>

    <script src="~/Scripts/bs-stepper/js/bs-stepper.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/adminlte.js"></script>
    <script src="~/Scripts/Custom/Pagination.js"></script>
    <script src="~/Scripts/Custom/CreateForm.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".BSswitch").bootstrapSwitch({
                onText: 'Yes',
                offText: 'No',
                size: 'small',
                onColor: 'success',
                offColor: 'danger'
            });
        });
    </script>
</body>
</html>
